In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Placement.csv")

In [3]:
from univariate import Univariate

In [4]:
obj=Univariate()

In [5]:
obj.frequencyTable(dataset,"ssc_p")

     Unique_Values  Frequency  Relative_Freq      Cumsum
0            40.89          1       0.970874    0.970874
1            41.00          1       0.970874    1.941748
2            43.00          1       0.970874    2.912621
3            44.00          1       0.970874    3.883495
4            45.00          1       0.970874    4.854369
..             ...        ...            ...         ...
98           85.80          1       0.970874  202.912621
99           86.50          1       0.970874  203.883495
100          87.00          3       2.912621  206.796117
101          88.00          1       0.970874  207.766990
102          89.40          1       0.970874  208.737864

[103 rows x 4 columns]